<nz-table #basicTable class="table table-striped" [nzData]="results">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Repository Name</th>
      <th scope="col">Description</th>
      <th scope="col">Stars</th>
      <th scope="col">License</th>
      <th scope="col">Forks</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ results.items.id }}</td>
      <td>{{ result.items.name }}</td>
      <td>{{ result.items.description }}</td>
      <td>{{ result.items.stargazers_count }}</td>
      <td>{{ result.items.license }}</td>
      <td>{{ result.items.html_url }}</td>
    </tr>
  </tbody>
</nz-table>
