<!-- Jumbotron Section -->
<app-jumbotron></app-jumbotron>

<!-- Search Field Section -->
<section id="search-field">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <input
          type="text"
          class="input-group input-group-lg"
          [(ngModel)]="query"
        />
        <!-- <app-input [(ngModel)]="query"></app-input> -->
      </div>
      <app-button class="col-2" (click)="search()"></app-button>
    </div>
  </div>
</section>

<!-- Search Result Section -->
<section id="search-result">
  <div class="container">
    <app-table-layout [data]="data"></app-table-layout>
  </div>
</section>
